body {
  font-family: Arial, sans-serif;
  background-color: white;
  padding: 20px;
}

h1 {
  color: black;
}

input {
  display: block;
  margin: 8px 0;
  padding: 8px;
  width: 250px;
}

button {
  padding: 8px 12px;
  background-color: greenyellow;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: greenyellow;
}

ul {
  margin-top: 15px;
}

li {
  background: white;
  padding: 8px;
  margin: 5px 0;
  border-radius: 4px;
  cursor: pointer;
}

#details {
  margin-top: 15px;
  font-weight: bold;
}