
body {
  font-family: Arial, sans-serif;
  background-color: brown;
  padding: 20px;
  text-align: center;
  color: wheat;
}


h1 {
  color: white;
}


input {
  display: block;
  margin: 8px 0;
  padding: 8px;
  width: 250px;
  border: 1px solid white;
  border-radius: 4px;
}


button {
  padding: 8px 12px;
  background-color: greenyellow;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: greenyellow;
}


ul {
  margin-top: 15px;
  list-style-type: none;
  padding: 0;
}

li {
  background: black;
  padding: 8px;
  margin: 5px 0;
  border-radius: 4px;
}


#details {
  margin-top: 15px;
  font-weight: bold;
}